<br><br>

<img class="main-image" src="assets\gulf.jpg" >

<div class="main-text"> tere maailm ! </div>

<div class ="rectangle"></div>

<div class="categories">
    <br>
    <div class="category" routerLink="work">
        <img class="category-image" src="assets\6000.jpg" >
        <p class="category-text" > Work</p>
        
    </div>
    <br>
    <div class="category" routerLink="hobbies">
    <img class="category-image" src="assets\6000.jpg" >
    <p class="category-text"> Hobbies</p>       
    
    </div>
    <br>
    <div class="category" routerLink="courses">
        <img class="category-image" src="assets\horses.jpg" >
        <p class="category-text">  Courses</p>
        
    </div>
</div>

<br><br><br>