<form class="input-form" #catForm="ngForm" (ngSubmit)="onSubmit(catForm)">
  
  <label >Tõug:</label><br>
  <input ngModel class="form-control" name="breed" type="text"  placeholder="Tõug" required>
  <br>

  <label >Eesnimi:</label><br>
  <input ngModel class="form-control" name="firstname" type="text"  placeholder="Eesnimi" required>
  <br>

  <label>Pilt:</label><br>
  <input ngModel class="form-control" name="picture"  type="text" id="lname" 
  placeholder="Pildi url" required><br>
  
  <br>

  <input class= "btn btn-primary" [disabled]="catForm.invalid" type="submit" value="Submit">
</form> 

<br><br><br>


<div *ngFor=" let muutuja of cats ">  
  {{ muutuja.breed }} <br>
  {{ muutuja.firstname }} <br>
   <img src="{{ muutuja.picture }}" > <br>

 
</div>