<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <label>eseme pilt</label><br>
  <input ngModel name="imgSrc" type="text"><br>
  <label>nimetus</label><br>
  <input ngModel name="title" type="text"><br>
  <label>hind</label><br>
  <input ngModel name="price" type="text"><br>
  <label>kategooria</label><br>
  <input ngModel name="category" type="text"><br>
  <br>
  <button type="submit">Salvesta</button>
</form>

<lib-toastify-toast-container 
[position]="'bottom-right' " 
[iconLibrary]="'material' " 
></lib-toastify-toast-container>

