<div class="input-form">
  <h2>{{"Lisa uus ese" | translate}}</h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="input-form-field">
      <input type="text" ngModel name="imgSrc" required="">
      <label>{{"eseme pilt" | translate}}</label>
    </div>
    <div class="input-form-field">
      <input type="text" ngModel name="title" required="">
      <label>{{"nimetus" | translate }}</label>
    </div>
    <div class="input-form-field">
      <input type="text" ngModel name="price" required="">
      <label>{{"hind" | translate }}</label>
    </div>
    <div class="input-form-field">
      <input type="text" ngModel name="category" required="">
      <label>{{"kategooria" | translate }}</label>
    </div>
    <button class="main-button" type="submit">{{"Salvesta" | translate }} </button>
  </form>
</div>



<lib-toastify-toast-container 
[position]="'bottom-right' " 
[iconLibrary]="'material' " 
></lib-toastify-toast-container>

