<!-- <app-cat-select></app-cat-select> -->
<a routerLink="/selected-cats">mine vaata valitud kasse</a>

<form class="cat-element" #catForm="ngForm" (ngSubmit)="onSubmit(catForm)">
  
    <label >Tõug:</label><br>
    <input ngModel class="form-control" name="breed" type="text"  placeholder="Tõug" required>
    <br>
  
    <label >Eesnimi:</label><br>
    <input ngModel class="form-control" name="firstname" type="text"  placeholder="Eesnimi" required>
    <br>
  
    <label>Pilt:</label><br>
    <input ngModel class="form-control" name="picture"  type="text" id="lname" 
    placeholder="Pildi url" required><br>
    
    <br>
  
    <input class= "btn btn-primary" [disabled]="catForm.invalid" type="submit" value="Submit">
  </form> 
  
  <br><br><br>
  

   <!-- routerLink= "cat/view" -->
   
  <div class="cat-element">
  <!-- <button (click)="removeAllCats()">Tühjenda ostukorv</button> -->
  <div *ngFor=" let cat of cats; let i = index" > 
    
    
    <!-- [routerLink]="['cat',i]"
      [routerLink]="['cat',i]"
     -->
     <div [routerLink]="['/cat',i]">
      {{ cat.breed }} <br>
      {{ cat.firstname }} <br>
      <img src="{{ cat.picture }}" > <br><br><br>
    </div>   
    <button (click)="onChooseCat(cat)">Vali kass</button><br>
    
    <button [routerLink]="['/cat-edit',i]">Muuda kassi</button><br>
    
    <br><br>
  
   
  </div>
  
  <div>
  
  <!-- <app-numbers></app-numbers> -->
  