/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
     background-color: #52ac6e/* #58a162;*/
}



* { font-family: 'Russo One', sans-serif;
}

*:focus {
    outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-button {
    background-color: #95b8e7; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 10px;
  }
  .main-button:hover{
     transition: .5s;
     opacity: 1.0;
  }

  /* alates siit on vormi CSS*/
  .input-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .input-form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .input-form .input-form-field {
    position: relative;
  }
  
  .input-form .input-form-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .input-form .input-form-field label {
    position: absolute;
    top:0;
    left: 0;
    padding: -10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-form .input-form-field input:focus ~ label,
  .input-form .input-form-field input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  /* kuni siiani on vormi CSS*/