/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
     background-color: rgb(63, 146, 67);
}



* { font-family: 'Russo One', sans-serif;
}

*:focus {
    outline: none;
}