<mat-form-field  appearance="fill">
    <mat-label>{{"Vali kategooria" | translate}}</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of items | filterUnique " [value]="item.category">
        {{item.category}}
      </mat-option>
    </mat-select>
  </mat-form-field>


<div class="items">
   <div class="item" *ngFor="let item of items; let i = index" [routerLink]="['item',i]">
       <img src="{{item.imgSrc}}" > 
       <p> {{item.title}}</p>
       <p>{{item.price}} €</p>
                      
   </div>

</div>
