<div class="cart-page" *ngIf="cartItems.length > 0">
    <button (click) = "onDelete()">{{"Tühjenda ostukorv" | translate}}</button>

    <div  class="cart-item" *ngFor="let item of cartItems; let i = index">
        <img  class="cart-item-picture" src="{{item.imgSrc}}" > 
        <p class="cell">{{"  "}} {{item.title}} </p>
        <p class="cell"> {{item.price}} € </p>
        <!-- <button class= "delete-button" (click)="onDeleteOne(i)">Kustuta ostukorvist</button> -->
        <img class="delete-button" (click)="onDeleteOne(i)" src="assets\trashbin.png" >
        
        <br><br>
    </div>
    <div class="total-sum">{{"SUMMA KOKKU:" | translate }} {{ cartSum }} € </div>
    

</div>

<div *ngIf="cartItems.length == 0 ">{{"Esemeid ostukorvis ei ole" | translate }} </div>