{{ error }}
<div class="cont" [class.s--signup]="isSignUp">
  <form #signInForm="ngForm" (ngSubmit)= "onLogin(signInForm)" 
  class="form sign-in">
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      <input type="email" ngModel name="username" required />
    </label>
    <label>
      <span>Password</span>
      <input type="password" ngModel name="password" required />
    </label>
    <p class="forgot-pass">Forgot password?</p>
    <button  [disabled]="signInForm.invalid" type="submit" class="submit">Sign In</button>
    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>
  </form>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn" (click)="onButtonClick()">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <form #signUpForm="ngForm" (ngSubmit)="onSignup(signUpForm)" class="form sign-up">
      <h2>Time to feel like home,</h2>
      <label>
        <span>Email</span>
        <input type="email" ngModel name="username" required/>
      </label>
      <label>
        <span>Password</span>
        <input type="password" ngModel name="password" required/>
      </label>
      <button type="submit" [disabled]="signUpForm.invalid" class="submit">Sign Up</button>
      <button type="button" class="fb-btn">Join with <span>facebook</span></button>
    </form>
  </div>
</div>

<a href="https://www.development.ee" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a>
<a href="https://twitter.com/" target="_blank" class="icon-link icon-link--twitter">
  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
</a>
