<div class="input-form">
    <h2>{{"Muuda" | translate}}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="editItemForm">
      <div class="input-form-field">
        <input type="text" formControlName="imgSrc" required="">
        <label>{{"eseme pilt" | translate}}</label>
      </div>
      <div class="input-form-field">
        <input type="text" formControlName="title" required="">
        <label>{{"nimetus" | translate }}</label>
      </div>
      <div class="input-form-field">
        <input type="text" formControlName="price" required="">
        <label>{{"hind" | translate }}</label>
      </div>
      <div class="input-form-field">
        <input type="text" formControlName="category" required="">
        <label>{{"kategooria" | translate }}</label>
      </div>
      <button class="main-button" type="submit" [disabled]="!editItemForm.valid">
        {{"Muuda" | translate}} 
       </button>
    </form>
  </div>




