.header {
    /*background-color: rgb(82, 135, 168);*/
    background-color:#5287a8;
    display: flex;
    justify-content: space-between;
}

.header-link{
    background-color: #58a162;
    margin: 20px;
    cursor: pointer;
}
.header img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}